@page "/dashboard"
@using BlazorApp.Components
@using BlazorApp.Model
@using BlazorApp.Services
@using Microsoft.AspNetCore.SignalR.Client
@inject IAsyncDashboardService Api


<PageTitle>Dashboard</PageTitle>

@if (item is not null)
{
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


                <MetricRectangle Title="Total Products" Value="@item.ProductsCount.ToString()" BackgroundColor="#28a745" TextColor="#fff" />
                <MetricRectangle Title="Order Placed" Value="@item.OrderPlacedCount.ToString()" BackgroundColor="#007bff" TextColor="#fff" />
                <MetricRectangle Title="Active Sessions" Value="@item.Sessions.ToString()" BackgroundColor="#ffc107" TextColor="#000" />

            </div>
        </div>
    </section>
}


@code {
    private DashboardItem? item;

    private HubConnection connection;

    protected override async Task OnInitializedAsync()
    {
        connection = new HubConnectionBuilder()
            .WithUrl("/signalr")
            .WithAutomaticReconnect()
            .Build();

        connection.On<DashboardItem>("DashboardChanged", (item) =>
        {
            Console.WriteLine(item.Sessions);
        });

        await connection.StartAsync();

        item = await Api.Get();
    }



}
